html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--surface);
  color: var(--on-surface);
  height: 200vh;
}

button {
  border: none;
  outline: none;
}

:root.dark {
  color-scheme: dark;
}

:root.light {
  color-scheme: light;
}
