@font-face {
  font-family: "Nunito Sans";
  src: url(../../../public/fonts/NunitoSans-SemiBold.ttf) format('ttf');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Nunito Sans";
  src: url(../../../public/fonts/NunitoSans-SemiBold.ttf) format('ttf');
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: "Nunito Sans";
  src: url(../../../public/fonts/NunitoSans-SemiBold.ttf) format('ttf');
  font-display: swap;
  font-weight: 400;
}
