html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--surface);
  color: var(--on-surface);
  font: normal 400 var(--fz-md) / var(--lh-md) "Nunito Sans", sans-serif;
}

button {
  border: none;
  outline: none;
}

:root.dark {
  color-scheme: dark;
}

:root.light {
  color-scheme: light;
}
