.button {
  padding: 0.5rem 0.75rem;
  border-radius: var(--radius-md);
  font: normal 600 var(--fz-md) / var(--lh-md) "Nunito Sans", sans-serif;

  &.primary {
    background: var(--primary);
    color: var(--on-primary);
  }
}

.pageTitle {
  font-weight: 700;
  font-size: var(--fz-2xl);
  line-height: var(--lh-2xl);
  text-align: center;
}

.counter {
  & .counterActionsContainer {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

  & .counterTitle {
    font: normal 700 var(--fz-xl) / var(--lh-xl) "Nunito Sans", sans-serif;
    text-align: center;
  }
}
