.button {
  padding: 0.5rem 0.75rem;
  border-radius: var(--radius-md);
  font: normal 600 var(--fz-md) / var(--lh-md) "Nunito Sans", sans-serif;

  &.primary {
    color: var(--on-primary);
    background: var(--primary);
  }
}

.page-title {
  font: normal 700 var(--fz-2xl) / var(--lh-2xl) "Nunito Sans", sans-serif;
  text-align: center;
}

.counter {
  &>.counter__title {
    font: normal 700 var(--fz-xl) / var(--lh-xl) "Nunito Sans", sans-serif;
    text-align: center;
  }

  &>.counter__actions-container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }
}
